@import 'reset.css';

html {
	background-image: url("http://www.ewallpapers.eu/w_show/blood-stain-1920-1080-6378.jpg");
}

body {
	margin: 25px;
	background-color: transparent;
}

	.nav {
		font-family: 'Playfair Display', serif;
		color: #000;
	}


nav li {
	display: inline-block;
	margin: 10px;
	font-size: 25px;
	color: #000;
}

header {
	font-size: 100px;
	color: #FFC971;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	margin: 45px;
	font-weight: bold;
}

section {
	background-color: #D50000;

}

footer {
	background-color: #424242;
}